<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>
        PixivViewer
    </title>
    <script src="./src/vue.min.js"></script>
    <script src="./src/vue-lazyload.js"></script>
    <script src="./src/axios.min.js"></script>
    <script src="./src/mdui/js/mdui.min.js"></script>
    <link href="./src/mdui/css/mdui.min.css" rel="stylesheet" />
    <link href="./src/flex.css" rel="stylesheet" />
</head>

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-theme-primary-teal mdui-theme-accent-pink">
    <!--加载框-->
    <div class="mdui-dialog" id="loading-box">
        <div class="mdui-dialog-content">
            <div class="mdui-spinner mdui-spinner-colorful"></div>&nbsp;&nbsp;&nbsp;加载中……
        </div>
    </div>

    <div id="app">
        <!--vue开始-->
        <header class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-toolbar-hide">
            <div class="mdui-toolbar mdui-color-theme">
                <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer', swipe: true}">
                    <i class="mdui-icon material-icons">
							menu
						</i>
                </a>
                <a href="javascript:location.assign('#top');" class="mdui-typo-headline">
						PixivViewer
					</a>
                <div class="mdui-toolbar-spacer">
                </div>
                <a href="javascript:app.clearResponse();app.parseApi()" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '重载'}">
                    <i class="mdui-icon material-icons">
							refresh
						</i>
                </a>
                <a href="javascript:app.Purl=app.localHistory[this.length];app.parseApi()" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '回退'}">
                    <i class="mdui-icon material-icons">
							keyboard_arrow_left
						</i>
                </a>
            </div>
        </header>
        <div class="mdui-drawer mdui-drawer-open" id="left-drawer">
            <a href="./">
                <img src="./src/logo.png" />
            </a>
            <div class="config">
                <div class="mdui-tab" mdui-tab>
                    <a href="#example1-tab1" class="mdui-ripple">查询id</a>
                    <a href="#example1-tab2" class="mdui-ripple">查询关键词</a>
                    <a href="#example1-tab3" class="mdui-ripple">查询排行榜</a>
                </div>
                <div id="example1-tab1" class="mdui-p-a-2">
                    <input v-model.number="Pid" class="mdui-textfield-input" type="number" placeholder="输入id...">

                    <select v-model="Ptype" class="mdui-select" mdui-select>
                        <option value="" disabled>
                            调节模式
                        </option>
                        <option value="illust">
                            作品详情
                        </option>
                        <option value="member">
                            用户详情
                        </option>
                        <option value="member_illust">
                            用户作品
                        </option>
                        <option value="favorite">
                            用户收藏
                        </option>
                        <option value="following">
                            用户关注
                        </option>
                        <option value="follower">
                            用户粉丝
                        </option>
                        <option value="tags">
                            热门标签
                        </option>
                        <option value="related">
                            相关作品
                        </option>
                    </select>&nbsp;
                    <button class="mdui-btn mdui-btn-icon mdui-btn-raised mdui-color-theme-accent" v-on:click="parseApi()">
                        <i class="mdui-icon material-icons">
							search
						</i>
                    </button>
                </div>
                <div id="example1-tab2" class="mdui-p-a-2">
                    <input v-model="Pkey" class="mdui-textfield-input" type="text" placeholder="输入关键词...">
                    <select v-model="PmodeSearch" class="mdui-select" mdui-select>
                        <option value="" disabled>
                            调节模式
                        </option>
                        <option value="partial_match_for_tags">
                            标签部分一致
                        </option>
                        <option value="exact_match_for_tags">
                            标签完全一致
                        </option>
                        <option value="title_and_caption">
                            标题说明文
                        </option>
                    </select>
                    <select v-model="Porder" class="mdui-select" mdui-select>
                        <option value="" disabled>
                            默认
                        </option>
                        <option value="date_desc">
                            按日期倒序
                        </option>
                        <option value="date_asc">
                            按日期正序
                        </option>
                    </select>
                    <button class="mdui-btn mdui-btn-icon mdui-btn-raised mdui-color-theme-accent" v-on:click="app.Ptype='search';parseApi()">
                        <i class="mdui-icon material-icons">
							search
						</i>
                    </button>
                </div>
                <div id="example1-tab3" class="mdui-p-a-2">
                    <select v-model="PmodeRank" class="mdui-select" mdui-select>
                        <option value="" disabled>
                            默认
                        </option>
                        <option value="day">
                            日榜
                        </option>
                        <option value="week">
                            周榜
                        </option>
                        <option value="month">
                            月榜
                        </option>
                        <option value="week_rookie">
                            新人
                        </option>
                        <option value="week_original">
                            原创
                        </option>
                        <option value="day_male">
                            男性向
                        </option>
                        <option value="day_female">
                            女性向
                        </option>
                    </select>
                    <input class="mdui-select" type="date" min="2006-12-31" v-model="Pdate">
                    <button class="mdui-btn mdui-btn-raised mdui-btn-icon mdui-color-theme-accent" v-on:click="app.Ptype='rank';parseApi()">
                        <i class="mdui-icon material-icons">
							search
						</i>
                    </button>
                </div>

                <!--分割线-->
                <center>
                    <span>
					  翻页
					</span>
                    <button v-on:click="Ppage -= 1;parseApi()" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple" v-bind:disabled="isDisabled">
                        <i class="mdui-icon material-icons">
							chevron_left
						</i>
                    </button>
                    <input v-model.number="Ppage" class="mdui-textfield-input" type="number" style="max-width:50px;display:inline" placeholder="指定页">
                    <button v-on:click="Ppage += 1;parseApi()" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple" v-bind:disabled="isDisabled">
                        <i class="mdui-icon material-icons">
							chevron_right
						</i>
                    </button>
                </center>
            </div>
            <!--结束控制器-->
            <ul class="mdui-list">
                <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#myHistory'}">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							history
						</i>
                    <div class="mdui-list-item-content">
                        历史
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#myStar'}">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							star
						</i>
                    <div class="mdui-list-item-content">
                        收藏
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#myControl'}">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							tune
						</i>
                    <div class="mdui-list-item-content">
                        控制
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#mySettings'}">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							settings
						</i>
                    <div class="mdui-list-item-content">
                        设置
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" onclick="window.open('https://blog.poo.li/')">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							info_outline
						</i>
                    <div class="mdui-list-item-content">
                        关于
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" onclick="showHelp()">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							help_outline
						</i>
                    <div class="mdui-list-item-content">
                        帮助
                    </div>
                </li>

                <li class="mdui-list-item mdui-ripple" mdui-drawer-close>
                    <i class="mdui-list-item-icon mdui-icon material-icons">
							close
						</i>
                    <div class="mdui-list-item-content">
                        关闭
                    </div>
                </li>
            </ul>
        </div>
        <!--上面抽屉-->
        <div class="mdui-container">
            <div v-for="tag in PresponseC" class="mdui-chip" v-on:click="Pkey=tag.tag;PmodeSearch='partial_match_for_tags';">
                <span class="mdui-chip-icon">
						<i class="mdui-icon material-icons">
							loyalty
						</i>
					</span>
                <span class="mdui-chip-title">
						{{tag.tag}}
					</span>
            </div>
            <!---循环开始A-->
            <div class="columns" v-if="PresponseA">
                <div class="mdui-card column col-6 col-sm-12 col-xs-12" v-for="illust in PresponseA">
                    <!-- 卡片头部，包含头像、标题、副标题 -->
                    <div class="mdui-card-header">
                        <img class="mdui-card-header-avatar" v-lazy="illust.user.profile_image_urls.medium" v-on:click="Ptype='member';Pid=illust.user.id;parseApi()" />
                        <div class="mdui-card-header-title">
                            {{illust.user.name}}
                        </div>
                        <div class="mdui-card-header-subtitle">
                            {{illust.user.id}}｜{{illust.user.account}}
                        </div>
                    </div>
                    <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
                    <div class="mdui-card-media">
                        <img class="mdui-img-fluid" v-lazy="illust.image_urls[Pquality]">
                        <!-- 卡片中可以包含一个或多个菜单按钮 -->
                        <div class="mdui-card-menu" v-if="showDetailMsg">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white" v-on:click='mdui.alert(illust.caption+"<br /><br />原图"+illust.meta_single_page.original_image_url, "细节")'>
                                <i class="mdui-icon material-icons">
										link
									</i>
                            </button>
                        </div>
                    </div>
                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">
                            {{illust.title}}
                        </div>
                        <div class="mdui-card-primary-subtitle">
                            {{illust.id}}
                        </div>
                    </div>
                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content mdui-typo main-content" v-if="showDetailTags">
                        <div class="mdui-chip">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons" mdui-tooltip="{content: '收藏'}">
										star
									</i>
								</span>
                            <span class="mdui-chip-title">
									收藏数{{illust.total_bookmarks}}
								</span>
                        </div>
                        <div class="mdui-chip">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons">
										visibility
									</i>
								</span>
                            <span class="mdui-chip-title">
									查看数{{illust.total_view}}
								</span>
                        </div>
                        <div class="mdui-chip">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons">
										panorama_horizontal
									</i>
								</span>
                            <span class="mdui-chip-title">
									宽度{{illust.width}}
								</span>
                        </div>
                        <div class="mdui-chip">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons">
										panorama_vertical
									</i>
								</span>
                            <span class="mdui-chip-title">
									高度{{illust.height}}
								</span>
                        </div>
                        <div class="mdui-chip">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons">
										access_time
									</i>
								</span>
                            <span class="mdui-chip-title">
									时间{{illust.create_date}}
								</span>
                        </div>
                        <br />
                        <div v-for="tag in illust.tags" class="mdui-chip" v-on:click="Pkey=tag.name;PmodeSearch='partial_match_for_tags';">
                            <span class="mdui-chip-icon">
									<i class="mdui-icon material-icons">
										loyalty
									</i>
								</span>
                            <span class="mdui-chip-title">
									{{tag.name}}
								</span>
                        </div>
                    </div>
                    <!-- 卡片的按钮 -->
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-ripple" v-on:click="Ptype='member_illust';Pid=illust.user.id;parseApi()">
                            画师
                        </button>
                        <button class="mdui-btn mdui-ripple" v-on:click="Ptype='related';Pid=illust.id;parseApi()">
                            相关
                        </button>
                        <button class="mdui-btn mdui-ripple" v-on:click="Ptype='illust';Pid=illust.id;parseApi()">
                            原图
                        </button>
                        <button class="mdui-btn mdui-btn-icon mdui-float-right" onclick="addStar(app.Purl)">
                            <i class="mdui-icon material-icons" mdui-tooltip="{content: '收藏'}">
									star
								</i>
                        </button>
                    </div>
                </div>
            </div>
            <!--循环结束A--->
            <!---循环开始B-->
            <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-4 mdui-row-xl-5 mdui-grid-list" v-if="PresponseB">
                <div class="mdui-card mdui-col" v-for="user in PresponseB">
                    <!-- 卡片头部，包含头像、标题、副标题 -->
                    <div class="mdui-card-header">
                        <img class="mdui-card-header-avatar" v-lazy="user.user.profile_image_urls.medium" />
                        <div class="mdui-card-header-title">
                            {{user.user.name}}
                        </div>
                        <div class="mdui-card-header-subtitle">
                            {{user.user.id}}｜{{user.user.account}}
                        </div>
                    </div>
                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content main-content main-preview" v-if="isPreview">
                        <!----嵌套卡片-->
                        <div class="mdui-card" v-for="illust in user.illusts">
                            <div class="mdui-card-media">
                                <img class="mdui-img-fluid" v-lazy="illust.image_urls[Pquality]" />
                            </div>
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">
                                    {{illust.title}}
                                </div>
                                <div class="mdui-card-primary-subtitle">
                                    {{illust.id}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 卡片的按钮 -->
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-ripple" v-on:click="Ptype='member_illust';Pid=user.user.id;parseApi()">
                            TA的作品
                        </button>
                        <button class="mdui-btn mdui-ripple" v-on:click="Ptype='member';Pid=user.user.id;parseApi()">
                            详细
                        </button>
                        <button class="mdui-btn mdui-btn-icon mdui-float-right" onclick="addStar(app.Purl)">
                            <i class="mdui-icon material-icons">
									star
								</i>
                        </button>
                    </div>
                </div>
            </div>
            <!---循环结束B-->
            <!---控制-->
            <div class="mdui-dialog" id="myControl">
                <div class="mdui-dialog-title">
                    控制
                </div>
                <div class="mdui-dialog-content">
                    当前API：{{Purl}}
                    <br />
                    <button v-on:click="clearResponse()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
                        清空输出
                    </button>
                    <button onclick="recovery()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
                        变量初始化(出错时使用)
                    </button>
                    <br />
                    <br />
                    <span>图片排序方式(搜索后使用)</span>
                    <br />
                    <button v-on:click="sortResponse('star')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">按收藏次数</button>
                    <button v-on:click="sortResponse('view')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">按查看次数</button>
                    <button v-on:click="sortResponse('per')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">按收藏率</button>
                    <button v-on:click="sortResponse('reverse')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">反转顺序</button>
                    <br />
                    <br/>
                    <div class="mdui-divider">
                    </div>
                    <label class="mdui-checkbox">
                        <input type="checkbox" v-model="isPreview" />
                        <i class="mdui-checkbox-icon">
							</i> 预览画师图片
                    </label>
                    <label class="mdui-checkbox">
                        <input type="checkbox" v-model="showHotTags" />
                        <i class="mdui-checkbox-icon">
							</i> 查看热门标签
                    </label>
                    <br />
                    <label class="mdui-switch">
                        <input type="checkbox" v-model="showDetailMsg" />
                        <i class="mdui-switch-icon">
							</i>
                    </label>
                    显示作品说明(图片右上角)
                    <br />
                    <label class="mdui-switch">
                        <input type="checkbox" v-model="showDetailTags" />
                        <i class="mdui-switch-icon">
							</i>
                    </label>
                    显示作品标签
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--历史记录-->
            <div class="mdui-dialog" id="myHistory">
                <div class="mdui-dialog-title">
                    历史
                </div>
                <div class="mdui-dialog-content">
                    <div class="mdui-list" v-for="url in localHistory">
                        <a v-on:click="parseApi(url)" class="mdui-list-item mdui-ripple">
								{{url}}
							</a>
                    </div>
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" onclick="localStorage.history='[]';app.localHistory=[];mdui.snackbar({message: '清除成功！',position: 'right-top'});">
                        清空
                    </button>
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--收藏-->
            <div class="mdui-dialog" id="myStar">
                <div class="mdui-dialog-title">
                    收藏
                </div>
                <div class="mdui-dialog-content">
                    <div class="mdui-list" v-for="url in localStar">
                        <a v-on:click="parseApi(url)" class="mdui-list-item mdui-ripple">
								{{url}}
							</a>
                    </div>
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" mdui-dialog="{target: '#exportData'}" mdui-dialog-confirm>
                        导出
                    </button>
                    <button class="mdui-btn mdui-ripple" mdui-dialog="{target: '#importData'}" mdui-dialog-confirm>
                        导入
                    </button>
                    <button class="mdui-btn mdui-ripple" onclick="localStorage.star='[]';app.localStar=[];mdui.snackbar({message: '清除成功！',position: 'right-top'});">
                        清空
                    </button>
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--设置-->
            <div class="mdui-dialog" id="mySettings">
                <div class="mdui-dialog-title">
                    设置
                </div>
                <div class="mdui-dialog-content">
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="large" v-model="Pquality" />
                        <i class="mdui-radio-icon">
							</i> 清晰
                    </label>
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="medium" v-model="Pquality" />
                        <i class="mdui-radio-icon">
							</i> 不清晰
                    </label>
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="square_medium" v-model="Pquality" />
                        <i class="mdui-radio-icon">
							</i> 最不清晰
                    </label>
                    <div class="mdui-divider"></div>

                    <label class="mdui-radio">
                        <input type="radio" value="planA" v-model="picked" />
                        <i class="mdui-radio-icon">
							</i> pixiv.cat代理
                    </label>
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="planB" v-model="picked" />
                        <i class="mdui-radio-icon">
							</i> www.moe123.net代理
                    </label>
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="planC" v-model="picked" />
                        <i class="mdui-radio-icon">
							</i> 自用代理
                    </label>
                    <br />
                    <label class="mdui-radio">
                        <input type="radio" value="planD" v-model="picked" />
                        <i class="mdui-radio-icon">
							</i> 自用代理2
                    </label>
                    <br />
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--导出-->
            <div class="mdui-dialog" id="exportData">
                <div class="mdui-dialog-title">
                    导出
                </div>
                <div class="mdui-dialog-content">
                    <br />
                    <div class="mdui-textfield">
                        <textarea class="mdui-textfield-input" rows="6" placeholder="空" disabled>
                            {{localStar}}
                        </textarea>
                    </div>
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--导入-->
            <div class="mdui-dialog" id="importData">
                <div class="mdui-dialog-title">
                    导入
                </div>
                <div class="mdui-dialog-content">
                    <br />
                    <div class="mdui-textfield">
                        <textarea id="inputImport" class="mdui-textfield-input" rows="6" placeholder="输入文本...">
                        </textarea>
                    </div>
                </div>
                <div class="mdui-dialog-actions">
                    <button class="mdui-btn mdui-ripple" onclick="localStorage.star=document.getElementById('inputImport').value;app.localStar=JSON.parse(localStorage.star)" mdui-dialog-confirm>
                        保存
                    </button>
                    <button class="mdui-btn mdui-ripple" mdui-dialog-close>
                        关闭
                    </button>
                </div>
            </div>
            <!--错误-->
            <div style="height:5px">
            </div>
            <div class="mdui-card" v-if="Perror">
                <div class="mdui-card-media">
                    <img src="./src/card.jpg" />
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">
                                出错
                            </div>
                            <div class="mdui-card-primary-subtitle">
                                error
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-ripple" v-on:click="Perror=false">
                        关闭
                    </button>
                </div>
            </div>
            <!--空-->
            <div class="mdui-card" v-if="!(PresponseA||PresponseB||PresponseC)">
                <div class="mdui-card-media">
                    <img src="./src/card.jpg" />
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">
                                输出为空
                            </div>
                            <div class="mdui-card-primary-subtitle">
                                blank
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-ripple" v-on:click="PresponseC=true">
                        关闭
                    </button>
                </div>
            </div>
            <!--vue结束-->
        </div>
</body>
<script>
    function loadScript(src, callback) {
        let script = document.createElement('script');
        script.src = src;
        script.onload = () => callback(script);
        document.head.append(script);
    }
    if (location.href.includes('vconsole')) {
        loadScript('./src/vconsole.min.js', script => {
            new VConsole();
        });
    }
</script>
<script src="./src/main.js"></script>
<script>
    /*统计*/
    var _mtac = {};
    (function () {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500711490");

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>

</html>