<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>
			PixivViewer
		</title>
		<script src="src/vue.js">
		</script>
		<script src="src/vconsole.min.js">
		</script>
		<script src="src/axios.min.js">
		</script>
		<link href="src/mdui/css/mdui.min.css" rel="stylesheet">
		<script src="src/mdui/js/mdui.min.js">
		</script>
		<script src="src/js.cookie.min.js">
		</script>
		<script>
			new VConsole();
var $$ = mdui.JQ;

function addCounter() {
    Cookies.set("counter", Number(Cookies.get("counter")) + 1)
}

function removeStar(num) {
    app.localStar.splice(num, 1);
}

function addHistory(data) {
    app.localHistory.push(data)
}

function addStar(data) {
    app.localStar.push(data);
    saveData("star");
    mdui.snackbar({
        message: '收藏成功！',
        position: 'right-top'
    });
}

function saveData(method) {
    if (method === "star") {
        Cookies.set("star", JSON.stringify(app.localStar));
    }
    if (method === "history") {
        Cookies.set("history", JSON.stringify(app.localHistory));
    }
}

function recovery() {
    app.clearResponse();
    app.isPreview = app.showHotTags = app.showDetailTags = app.showDetailMsg = false;
    app.Ppage = 1;
    app.Purl = app.PlastUrl = '';
    Cookies.remove("counter");
    Cookies.remove("history");
    app.localHistory = [];
    mdui.alert("完成!");
}
		</script>
		<style>
			img{ max-width:100% } .config button{margin-bottom:2px}.show{display:inline}.hide{display:none}
			.main-content{white-space: nowrap;overflow: scroll} .mdui-card{margin-bottom:2px}
			.main-preview{justify-content:space-between;display:flex}.main-preview>.mdui-card{width:50%}
			.history{position:fixed;top:0px;width:90%;margin:auto;z-index:999} .history
			button{z-index:9999}
		</style>
	</head>
	<body class="mdui-theme-primary-teal mdui-theme-accent-pink mdui-bottom-nav-fixed">
		<div id="app" class="mdui-container">
			<!--vue开始-->
			<div class="config main-content mdui-shadow-2 mdui-p-a-1 mdui-m-t-1">
				请求api: {{Purl}}
				<br />
				上次请求: {{PlastUrl}}
				<br />
				<div class="-mdui-btn-group">
					<button onclick="if(app.PlastUrl!=='')app.parseApi(null,app.PlastUrl)"
					class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
						查询上次请求
					</button>
					<button v-on:click="clearResponse()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
						清空输出
					</button>
					<button v-on:click="PlastUrl='';" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
						清空上次请求
					</button>
					<button onclick="recovery()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent">
						变量初始化(出错时使用)
					</button>
				</div>
				<label class="mdui-checkbox">
					<input type="checkbox" v-model="isPreview" />
					<i class="mdui-checkbox-icon">
					</i>
					预览画师图片
				</label>
				<label class="mdui-checkbox">
					<input type="checkbox" v-model="showHotTags" />
					<i class="mdui-checkbox-icon">
					</i>
					查看热门标签
				</label>
				<br />
				<label class="mdui-switch">
					<input type="checkbox" v-model="showDetailMsg" />
					<i class="mdui-switch-icon">
					</i>
				</label>
				显示作品说明(图片右上角)
				<label class="mdui-switch">
					<input type="checkbox" v-model="showDetailTags" />
					<i class="mdui-switch-icon">
					</i>
				</label>
				显示作品标签
				<br />
				根据id查询：
				<input v-model.number="Pid" class="mdui-textfield-input" type="number"
				style="max-width:50%;display:inline" placeholder="输入id...">
				<select v-model="Ptype" class="mdui-select" mdui-select>
					<option value="" disabled>
						调节模式
					</option>
					<option value="illust" disabled>
						作品详情
					</option>
					<option value="member" disabled>
						用户详情
					</option>
					<option value="member_illust">
						用户作品
					</option>
					<option value="favorite">
						用户收藏
					</option>
					<option value="following">
						用户关注
					</option>
					<option value="follower">
						用户粉丝
					</option>
					<option value="tags">
						热门标签
					</option>
					<option value="related">
						相关作品
					</option>
				</select>
				<button class="mdui-btn mdui-btn-icon mdui-btn-raised mdui-color-theme-accent"
				v-on:click="parseApi('typeA')">
					<i class="mdui-icon material-icons">
						search
					</i>
				</button>
				<!--分割线-->
				<br />
				根据关键词查询：
				<input v-model="Pkey" class="mdui-textfield-input" type="text" style="max-width:100px;display:inline"
				placeholder="输入关键词...">
				<select v-model="PmodeSearch" class="mdui-select" mdui-select>
					<option value="" disabled>
						调节模式
					</option>
					<option value="partial_match_for_tags">
						标签部分一致
					</option>
					<option value="exact_match_for_tags">
						标签完全一致
					</option>
					<option value="title_and_caption">
						标题说明文
					</option>
				</select>
				<button class="mdui-btn mdui-btn-icon mdui-btn-raised mdui-color-theme-accent"
				v-on:click="parseApi('search')">
					<i class="mdui-icon material-icons">
						search
					</i>
				</button>
				<br />
				<!--分割线-->
				查询排行榜：
				<select v-model="PmodeRank" class="mdui-select" mdui-select>
					<option value="" disabled>
						默认
					</option>
					<option value="day">
						日榜
					</option>
					<option value="week">
						周榜
					</option>
					<option value="month">
						月榜
					</option>
					<option value="week_rookie">
						新人
					</option>
					<option value="week_original">
						原创
					</option>
					<option value="day_male">
						男性向
					</option>
					<option value="day_female">
						女性向
					</option>
				</select>
				<span>
					日期(默认今天)
				</span>
				<input type="date" min="2006-12-31" v-model="Pdate">
				<button class="mdui-btn mdui-btn-raised mdui-btn-icon mdui-color-theme-accent"
				v-on:click="parseApi('rank')">
					<i class="mdui-icon material-icons">
						search
					</i>
				</button>
				<!--分割线-->
				<br />
				<span>
					翻页
				</span>
				<button v-on:click="Ppage -= 1;parseApi()" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple"
				v-bind:disabled="isDisabled">
					<i class="mdui-icon material-icons">
						chevron_left
					</i>
				</button>
				<input v-model.number="Ppage" class="mdui-textfield-input" type="number"
				style="max-width:50px;display:inline" placeholder="指定页">
				<button v-on:click="Ppage += 1;parseApi()" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple"
				v-bind:disabled="isDisabled">
					<i class="mdui-icon material-icons">
						chevron_right
					</i>
				</button>
				<div style="height:40px">
				</div>
			</div>
			<!--结束控制器-->
			<div v-for="tag in PresponseC" class="mdui-chip" v-on:click="Pkey=tag.tag;PmodeSearch='partial_match_for_tags';">
				<span class="mdui-chip-icon">
					<i class="mdui-icon material-icons">
						loyalty
					</i>
				</span>
				<span class="mdui-chip-title">
					{{tag.tag}}
				</span>
			</div>
			<!---循环开始A-->
			<div v-for="illust in PresponseA">
				<div class="mdui-card">
					<!-- 卡片头部，包含头像、标题、副标题 -->
					<div class="mdui-card-header">
						<img class="mdui-card-header-avatar" :src="illust.user.profile_image_urls.medium"
						/>
						<div class="mdui-card-header-title">
							{{illust.user.name}}
						</div>
						<div class="mdui-card-header-subtitle">
							{{illust.user.id}}｜{{illust.user.account}}
						</div>
					</div>
					<!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
					<div class="mdui-card-media">
						<img :src="illust.image_urls.large" />
						<!-- 卡片中可以包含一个或多个菜单按钮 -->
						<div class="mdui-card-menu" v-if="showDetailMsg">
							<button class="mdui-btn mdui-btn-icon mdui-text-color-white" v-on:click='mdui.alert(illust.caption+"<br /><br />原图"+illust.meta_single_page.original_image_url, "细节")'>
								<i class="mdui-icon material-icons">
									link
								</i>
							</button>
						</div>
					</div>
					<!-- 卡片的标题和副标题 -->
					<div class="mdui-card-primary">
						<div class="mdui-card-primary-title">
							{{illust.title}}
						</div>
						<div class="mdui-card-primary-subtitle">
							{{illust.id}}
						</div>
					</div>
					<!-- 卡片的内容 -->
					<div class="mdui-card-content mdui-typo main-content" v-if="showDetailTags">
						<div class="mdui-chip">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									star
								</i>
							</span>
							<span class="mdui-chip-title">
								收藏数{{illust.total_bookmarks}}
							</span>
						</div>
						<div class="mdui-chip">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									visibility
								</i>
							</span>
							<span class="mdui-chip-title">
								查看数{{illust.total_view}}
							</span>
						</div>
						<div class="mdui-chip">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									panorama_horizontal
								</i>
							</span>
							<span class="mdui-chip-title">
								宽度{{illust.width}}
							</span>
						</div>
						<div class="mdui-chip">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									panorama_vertical
								</i>
							</span>
							<span class="mdui-chip-title">
								高度{{illust.height}}
							</span>
						</div>
						<div class="mdui-chip">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									access_time
								</i>
							</span>
							<span class="mdui-chip-title">
								时间{{illust.create_date}}
							</span>
						</div>
						<br />
						<div v-for="tag in illust.tags" class="mdui-chip" v-on:click="Pkey=tag.name;PmodeSearch='partial_match_for_tags';">
							<span class="mdui-chip-icon">
								<i class="mdui-icon material-icons">
									loyalty
								</i>
							</span>
							<span class="mdui-chip-title">
								{{tag.name}}
							</span>
						</div>
					</div>
					<!-- 卡片的按钮 -->
					<div class="mdui-card-actions">
						<button class="mdui-btn mdui-ripple" v-on:click="Ptype='member_illust';Pid=illust.user.id;parseApi('typeA')">
							画师
						</button>
						<button class="mdui-btn mdui-ripple" v-on:click="Ptype='related';Pid=illust.id;parseApi('typeA')">
							相关
						</button>
						<button class="mdui-btn mdui-btn-icon mdui-float-right" onclick="addStar(app.Purl)">
							<i class="mdui-icon material-icons">
								star
							</i>
						</button>
					</div>
				</div>
			</div>
			<!--循环结束A--->
			<!---循环开始B-->
			<div v-for="user in PresponseB">
				<div class="mdui-card">
					<!-- 卡片头部，包含头像、标题、副标题 -->
					<div class="mdui-card-header">
						<img class="mdui-card-header-avatar" :src="user.user.profile_image_urls.medium"
						/>
						<div class="mdui-card-header-title">
							{{user.user.name}}
						</div>
						<div class="mdui-card-header-subtitle">
							{{user.user.id}}｜{{user.user.account}}
						</div>
					</div>
					<!-- 卡片的内容 -->
					<div class="mdui-card-content main-content main-preview" v-if="isPreview">
						<!----嵌套卡片-->
						<div class="mdui-card" v-for="illust in user.illusts">
							<div class="mdui-card-media">
								<img :src="illust.image_urls.large" />
							</div>
							<div class="mdui-card-primary">
								<div class="mdui-card-primary-title">
									{{illust.title}}
								</div>
								<div class="mdui-card-primary-subtitle">
									{{illust.id}}
								</div>
							</div>
						</div>
					</div>
					<!-- 卡片的按钮 -->
					<div class="mdui-card-actions">
						<button class="mdui-btn mdui-ripple" v-on:click="Ptype='member_illust';Pid=user.user.id;parseApi('typeA')">
							TA的作品
						</button>
						<button class="mdui-btn mdui-ripple">
							无效按钮
						</button>
						<button class="mdui-btn mdui-btn-icon mdui-float-right" onclick="addStar(app.Purl)">
							<i class="mdui-icon material-icons">
								star
							</i>
						</button>
					</div>
				</div>
			</div>
			<!---循环结束B-->
			<!--历史记录-->
			<div class="mdui-dialog" id="myHistory">
				<div class="mdui-dialog-title">
					历史
				</div>
				<div class="mdui-dialog-content">
					<div class="mdui-list" v-for="url in localHistory">
						<a v-on:click="parseApi(null,url)" class="mdui-list-item mdui-ripple">
							{{url}}
						</a>
					</div>
				</div>
				<div class="mdui-dialog-actions">
					<button class="mdui-btn mdui-ripple" onclick="app.localHistory=[];saveData('history');">
						清空
					</button>
					<button class="mdui-btn mdui-ripple" mdui-dialog-close>
						关闭
					</button>
				</div>
			</div>
			<!--设置-->
			<div class="mdui-dialog" id="mySettings">
				<div class="mdui-dialog-title">
					设置
				</div>
				<div class="mdui-dialog-content">
					<br>
					<label class="mdui-radio">
						<input type="radio" value="planA" v-model="picked" />
						<i class="mdui-radio-icon">
						</i>
						自用代理
					</label>
					<br>
					<label class="mdui-radio">
						<input type="radio" value="planB" v-model="picked" />
						<i class="mdui-radio-icon">
						</i>
						pixiv.cat代理
					</label>
				</div>
				<div class="mdui-dialog-actions">
					<button class="mdui-btn mdui-ripple" mdui-dialog-close>
						取消
					</button>
					<button class="mdui-btn mdui-ripple" mdui-dialog-confirm>
						确认
					</button>
				</div>
			</div>
			<!--收藏-->
			<div class="mdui-dialog" id="myStar">
				<div class="mdui-dialog-title">
					收藏
				</div>
				<div class="mdui-dialog-content">
					<div class="mdui-list" v-for="url in localStar">
						<a v-on:click="parseApi(null,url)" class="mdui-list-item mdui-ripple">
							{{url}}
						</a>
					</div>
				</div>
				<div class="mdui-dialog-actions">
					<button class="mdui-btn mdui-ripple" onclick="app.localStar=[];saveData('star');">
						清空
					</button>
					<button class="mdui-btn mdui-ripple" mdui-dialog-close>
						关闭
					</button>
				</div>
			</div>
			<!---底部导航栏-->
			<div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-bottom-nav-scroll-hide">
				<a href="javascript:;" class="mdui-ripple mdui-bottom-nav-active">
					<i class="mdui-icon material-icons">
						wallpaper
					</i>
					<label>
						首页
					</label>
				</a>
				<a href="javascript:void(0);" mdui-dialog="{target: '#myHistory'}" class="mdui-ripple">
					<i class="mdui-icon material-icons">
						visibility
					</i>
					<label>
						历史
					</label>
				</a>
				<a href="javascript:void(0);" mdui-dialog="{target: '#mySettings'}" class="mdui-ripple">
					<i class="mdui-icon material-icons">
						tune
					</i>
					<label>
						设置
					</label>
				</a>
				<a href="javascript:void(0);" mdui-dialog="{target: '#myStar'}" class="mdui-ripple">
					<i class="mdui-icon material-icons">
						star
					</i>
					<label>
						收藏
					</label>
				</a>
			</div>
			<!--vue结束-->
		</div>
		<script>
			var app = new Vue({
    el: '#app',
    data: { //大P开头，表示请求数据
        Ptype: '',
        Pkey: 'miku',
        PmodeRank: '',
        PmodeSearch: '',
        Ppage: 1,
        Pid: '16361124',
        Pdate: '',
        Purl: '',
        PlastUrl: '',
        PresponseA: '',
        PresponseB: '',
        PresponseC: '',
        Perror: '',
        mdui: '',
        picked: 'planA',
        localHistory: '',
        localStar: '',
        isPreview: false,
        isDisabled: true,
        showHotTags: false,
        showDetailTags: false,
        showDetailMsg: false,
    },

    methods: {
        parseApi: function(type) {
            //错误处理
            if (app.Ppage < 1) app.Page = 1;
            app.showHotTags = false;
            var date = '';
            //判断输入type
            switch (type) {
                case "typeA":
                    //若查询数组a
                    if (app.Ptype.length == 0) {
                        mdui.alert("必须指定type!");
                        return false
                    }
                    app.Purl = 'https://api.imjad.cn/pixiv/v2/?type=' + app.Ptype + '&id=' + app.Pid + '&page=' + app.Ppage;
                    break;
                case "search":
                    //若搜索关键词
                    if (app.PmodeSearch == 0) {
                        mdui.alert("必须指定mode!");
                        return false
                    }
                    app.Ptype = 'search';
                    app.Purl = 'https://api.imjad.cn/pixiv/v2/?type=search&mode=' + app.PmodeSearch + '&word=' + app.Pkey + '&page=' + app.Ppage;
                    break;
                case "rank":
                    //若查询排行榜
                    app.Ptype = 'rank';
                    app.Ppage = 1;
                    app.Pid = '';
                    date = '&date=' + app.Pdate;
                    app.Purl = 'https://api.imjad.cn/pixiv/v2/?type=rank&mode=' + app.PmodeRank + date;
                    break;
                default:
                    //默认，也就是翻页
                    app.Purl += '&page=' + app.Ppage;
            }

            //清空原数据
            app.PresponseA = '';
            app.PresponseB = '';
            //查询上次请求

            if (typeof arguments[1] !== "undefined") {
                app.Purl = arguments[1]
            }
            //保存记录到cookies
            //addCounter();
            addHistory(app.Purl);
            saveData('history');
            //弹出snackbar
            mdui.snackbar({
                message: '查询中，切勿重复点击！',
                position: 'right-top'
            });
            //获取数据
            axios.get(app.Purl)
                .then(function(response) {
                    //简单错误处理
                    if (JSON.stringify(response.data).length < 38) mdui.alert("请求可能失败，或者为空<br />出错json：<br />" + JSON.stringify(response.data));
                    //判断type
                    var typeModeA = ['member_illust', 'favorite', 'related', 'rank', 'search'];
                    var typeModeB = ['following', 'follower'];
                    if (typeModeA.indexOf(app.Ptype) !== -1) {
                        //设置代理,模式A
                        app.PresponseA = arrayAddProxy(response.data.illusts);
                    }
                    if (typeModeB.indexOf(app.Ptype) !== -1) {
                        //设置代理,模式B
                        app.PresponseB = arrayAddProxy(response.data.user_previews);
                    }
                    //结束
                })
                //错误处理待定
                .catch(function(error) {
                    app.Perror = error;
                    mdui.alert(error);
                });
            //函数结束
        },
        getTags: function() {
            if (app.showHotTags) {
                axios.get('https://api.imjad.cn/pixiv/v2/?type=tags')
                    .then(function(response) {
                        app.PresponseC = arrayAddProxy(response.data.trend_tags);
                    })
                    .catch(function(error) {
                        console.log(error);
                    }); //此方法尾部 
            } else {
                app.PresponseC = '';
            }
        },
        clearResponse: function() {
            app.PresponseA = '';
            app.PresponseB = '';
            app.PresponseC = '';
            app.showHotTags = false;
        }
    },
    watch: { //监控变量
        Ptype: function(nval, oval) {
            if (nval == 'search' || nval == 'following') {
                app.isDisabled = false
            } else {
                app.isDisabled = true
            }
        },
        Purl: function(nval, oval) {
            app.PlastUrl = oval;
        },
        showHotTags: function(nval, oval) {
            if (oval != nval) app.getTags();
        }
    }

});

app.mdui = mdui;
if (Cookies.get("counter") === undefined) {
    Cookies.set("counter", 0);
    app.localHistory = app.localStar = [];
} else {
    app.localHistory = JSON.parse(Cookies.get("history"));
    app.localStar = JSON.parse(Cookies.get("star"));
}

function arrayAddProxy(arr) { //给数组(对象)添加代理
    switch (app.picked) {
        case 'planA':
            var url = JSON.stringify(arr).replace(/https:\/\/i.pximg/g, "http://pixiv.dns.navy/view.php/https://i.pximg");
            break;

        case 'planB':
            var url = JSON.stringify(arr).replace(/i.pximg.net/g, "i.pixiv.cat");
            break;
        default:
            var url = JSON.stringify(arr).replace(/i.pximg.net/g, "i.pixiv.cat");
    }
    url = JSON.parse(url);
    return url;
}
		</script>
	</body>

</html>